{% extends "./layouts/app.twig" %}
{% block title %}
	Edit profile
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<h2>Edit your profile</h2>
<form method="post" action="edit">
     <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td>
                    <input type="text" name="username" required placeholder="{{ user.username }}" value="{{ user.username }}" minlength="2" maxlength="25">
                </td>
            </tr>
            <tr>
                <th>Display name</th>
                <td>
                    <input type="text" name="displayName" required placeholder="{{ user.displayName }}" value="{{ user.displayName }}" maxlength="25">
                </td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>
                    <input type="email" name="email" required placeholder="{{ user.email }}" value="{{ user.email }}">
                </td>
            </tr>
            <tr>
                <th>Profile picture</th>
                <td>
                    <input type="text" name="profilePicture" required placeholder="{{ user.profilePicture }}" value="{{ user.profilePicture }}" pattern="(((http://www)|(http://)|(www)|(https://)|(https://www.))[-a-zA-Z0-9@:%_\+.~#?&//=]+)\.(jpg|jpeg|gif|png|bmp|tiff|tga|svg)">
                </td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>
                    <textarea name="bio" required placeholder="{{ user.bio }}">{{ user.bio }}</textarea>
                </td>
        </tbody>
    </table>
    <a href="/profile/me">Back</a>
    <input type="submit" value="Edit profile"/>
</form>
{% endblock %}