{% extends "./layouts/app.twig" %}
{% block title %}
	Profile {{ user.displayName }}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<h2>{{ user.displayName }}</h2>
<h4>{{ user.username }}</h4>
<img src="{{ user.profilePicture }}" alt="pfp" height="50px">
<table>
    <tbody>
        <tr>
            <th>Registered at</th>
            <td>{{ user.registeredAt }}</td>
        </tr>
        <tr>
            <th>Biography</th>
            <td>{{ user.bio }}</td>
        </tr>
    </tbody>
</table>
<ul>
    <li><a href="/">Back</a></li>
</ul>
{% for post in posts|reverse %}
<img src="/img/placeholder.png" alt="code img" height="100px" class="post-image" postId="{{ post.id }}">
{% endfor %}
{% endblock %}