{% extends "./layouts/app.twig" %}
{% block title %}
    Welcome
{% endblock %}
{% block content %}
    <p>Welcome to:</p>
    <h1>{{project_name}}</h1>

    {% if loggedInUser %}
    <a href="/profile/me">Take a look at your profile</a>
    <a href="/post/create">Create a new post</a>
    {% for post in posts|reverse %}
    <table>
        <tbody>
        {% if post.user.id == loggedInUser %}
            <h2><a href="/profile/me">{{ post.user.username }}</a></h2>
        {% else %}
            <h2><a href="/profile/show?id={{ post.user.id }}">{{ post.user.username }}</a></h2>
        {% endif %}
            <tr>
                <th>Code</th>
                <td><img src="/img/placeholder.png" alt="code img" height="100px" class="post-image" postId="{{ post.id }}"></td>
                {# <td><img src="data:image/png;base64,{{ post.image_bytes }}" alt="code img" height="100px"></td> #}
            </tr>
            <tr>
                <th>Caption</th>
                <td>{{ post.post.caption }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    <p>Sign up or log in to get started</p>
    {% endif %}
    <script src="/js/getimg.js"></script>
{% endblock %}