{% extends "./layouts/app.twig" %}
{% block title %}
	Welcome
{% endblock %}
{% block content %}
<p>Welcome to:</p>
<h1>{{project_name}}</h1>

{% if loggedInUser %}
	<a href="/profile/me">Take a look at your profile</a>
	<a href="/post/create">Create a new post</a>
	<form action="test/search" method="post">
		<input type="text" name="query" placeholder="Search users"/>
		<input type="submit" value="Search"/>
	</form>
	{% for post in posts|reverse %}
		<table>
			<tbody>
				{% if post.user.id == loggedInUser %}
					<h2>
						<a href="/profile/me">{{ post.user.username }}</a>
					</h2>
				{% else %}
					<h2>
						<a href="/profile/show?id={{ post.user.id }}">{{ post.user.username }}</a>
					</h2>
				{% endif %}
				<tr>
					<th>Code</th>
					<td>
						<pre class="theme-{{ app.request.cookies.get('theme') }}"><code class="language-{{ post.language }}" postId="{{ post.id }}">{{post.code}}</code></pre>
					</td>
				</tr>
			</tbody>
		</td>
	</tr>
	<tr>
		<div class="post">
			<td>
				<button class="like-button" data-post-id="{{ post.id }}">Like</button>
			</td>
		</div>
	</tr>
	<tr>
		<th>Caption</th>
		<td>{{ post.post.caption }}</td>
	</tr>
</tbody></table>{% endfor %}{% else %}<p>Sign up or log in to get started</p>{% endif %}<script src="/js/likebtn.js"></script>{% endblock %}
